<h1>
  Directives
</h1>
<!-- String Interpolation -->


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#sd">Structural Directives</a></li>
  <li><a data-toggle="tab" href="#ad">Attribute Directives</a></li>
  <li><a data-toggle="tab" href="#cd">Custom Attribute Directives</a></li>
  <li><a data-toggle="tab" href="#cade">Custom Attribute Directives with event</a></li>
</ul>

<div class="tab-content">
  <div id="sd" class="tab-pane fade in active container">
    <p>Structural Directives will impact the structure of the DOM </p>
    <app-structural-directive></app-structural-directive>
  </div>
  <div id="ad" class="tab-pane fade container">
    <p>Attribute Directives will change the appearance of the elements</p>
    <app-attribute-directive></app-attribute-directive>
  </div>
  <div id="cd" class="tab-pane fade container">
    <div appColorizer>Wow</div>
  </div>
  <div id="cade" class="tab-pane fade container">
    
  </div>
</div>